<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TrakHound.DataClient.Configurator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.IPNetwork" publicKeyToken="764160545cf0d618" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.4.0" newVersion="2.0.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <TrakHound.DataClient.Configurator.Properties.Settings>
      <setting name="AddressFrom" serializeAs="String">
        <value />
      </setting>
      <setting name="AddressTo" serializeAs="String">
        <value />
      </setting>
      <setting name="PortFrom" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="PortTo" serializeAs="String">
        <value>5019</value>
      </setting>
    </TrakHound.DataClient.Configurator.Properties.Settings>
  </userSettings>
</configuration>
