<?xml version="1.0" encoding="utf-8" ?>
<DataClient>

  <!--List of configured MTConnect Devices to read from-->
  <Devices>
    <Device deviceId="1234" deviceName="VMC-3Axis" interval="100">http://agent.mtconnect.org</Device>
  </Devices>

  <!--Configuration for finding MTConnect Devices on the network-->
  <DeviceFinder scanInterval="3600000">
    
    <!--Specify Port Range-->
    <Ports minimum="5000" maximum="5020"/>
    
  </DeviceFinder>
    
  <!--Configuration for sending data to TrakHound DataServers-->
  <DataServers>
    
    <DataServer hostname="localhost" useSSL="true">
      
      <!--Data Buffer Directory to buffer failed transfers until sent successfully-->
      <Buffer>c:\TrakHound\Buffers\</Buffer>
      
      <!--Define the data to send to DataServer-->
      <DataGroups>

        <!--All Data Items-->
        <DataGroup name="all" captureMode="CURRENT">
          <Allow>
            <Filter>*</Filter>
          </Allow>
        </DataGroup>

        <!--All Data Items-->
        <!--<DataGroup name="all" captureMode="PASSIVE">
          <Allow>
            <Filter>*</Filter>
          </Allow>
        </DataGroup>-->

        <!--Device Status Data Group. Always send new data.-->
        <!--<DataGroup name="status" captureMode="ACTIVE">

          --><!--List the allowed Filters--><!--
          <Allow>
            <Filter>Controller/*</Filter>
          </Allow>

          --><!--List the Denied Filters (Denied Filters override Allowed)--><!--
          <Deny>
            <Filter>Frt</Filter>
            <Filter>PathFeedrate</Filter>
            <Filter>PathPosition</Filter>
            <Filter>Line</Filter>
            <Filter>Block</Filter>
          </Deny>

          --><!--List the additional groups to include when current group is captured--><!--
          <Include>
            <DataGroup>all</DataGroup>
          </Include>

        </DataGroup>-->

      </DataGroups>

    </DataServer> 
    
  </DataServers>
  
</DataClient>
