<?xml version="1.0" encoding="utf-8" ?>
<DataClient>

  <!--List of configured MTConnect Devices to read from-->
  <Devices>
    <Device deviceId="1234" deviceName="VMC-3Axis" interval="100">http://agent.mtconnect.org</Device>
    <Device deviceId="12345" deviceName="OKUMA.Lathe" interval="100">http://74.203.109.245:5001</Device>
    <!--<Device deviceId="123456" deviceName="NRX20151007_0" interval="100">http://127.0.0.1:5015</Device>-->
  </Devices>

  <!--Configuration for finding MTConnect Devices on the network-->
  <DeviceFinder scanInterval="3600000">
    
    <!--Specify Port Range-->
    <Ports minimum="5000" maximum="5020"/>
    
  </DeviceFinder>
    
  <!--Configuration for sending data to TrakHound DataServers-->
  <DataServers>
    
    <DataServer hostname="localhost" useSSL="true">
      
      <!--Data Buffer Directory to buffer failed transfers until sent successfully-->
      <Buffer>c:\TrakHound\Buffers\</Buffer>
      
      <!--Define the data to send to DataServer-->
      <DataGroups>

        <!--All Data Items-->
        <DataGroup name="all" captureMode="ARCHIVE">
          <Allow>
            <Filter>*</Filter>
          </Allow>
        </DataGroup>

      </DataGroups>

    </DataServer> 
    
  </DataServers>
  
</DataClient>
