<?xml version="1.0" encoding="utf-8" ?>
<DataClient>

  <!--List of configured MTConnect Devices to read from-->
  <Devices>
    <Device deviceId="0307f8be-5be9-4c14-85a6-8a2a9c9223db" deviceName="VMC-3Axis" interval="500">http://agent.mtconnect.org</Device>
  </Devices>

  <!--Configuration for finding MTConnect Devices on the network-->
  <DeviceFinder scanInterval="3600000">
    
    <!--Specify Port Range-->
    <Ports minimum="5000" maximum="5020"/>
    
  </DeviceFinder>
    
  <!--Configuration for sending data to TrakHound DataServers-->
  <DataServers>
    
    <DataServer hostname="localhost" port="8472" useSSL="true" apiKey="93be3913-2639-408d-86fd-7b66229f80b1">
      
      <!--Data Buffer Directory to buffer failed transfers until sent successfully-->
      <Buffer>Buffers</Buffer>
      
      <!--Define the data to send to DataServer-->
      <DataGroups>

        <!--All Data Items-->
        <DataGroup name="all" captureMode="ARCHIVE">
          <Allow>
            <Filter>*</Filter>
          </Allow>
        </DataGroup>

      </DataGroups>

    </DataServer> 
    
  </DataServers>
  
</DataClient>
